# Виртуальное окружение
venv/
env/
.venv/
ENV/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyInstaller
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db